*{
    margin: 0%;
}

.inicio{
    background-color: rgb(197, 11, 11);
   
}

.img1{
    width: 5.5%;
    height: 5.5%;
    
}

p{
    text-align: right;
    margin-right: 20%;
    font-size: x-large;
    
}